* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: powderblue;
}

.upload-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E8E6E1;
}

.drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  background-color: #FAF9F7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

.flip-book {
  height: 100dvh;
}

.page img {
  height: 100vh;
}
