.container {
  padding: 24px;
  max-width: 1600px;
  margin: auto;

  gap: 20px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;

  .flipping-book {
    position: relative;
    width: 350px;
    height: 500px;

    .paper {
      width: 100%;
      height: 100%;
      position: absolute;
      perspective: 1500px;

      &.flipped {
        pointer-events: none;

        .front {
          backface-visibility: hidden;
        }

        .back {
          pointer-events: all;
        }

        .back-content {
          transform: rotateY(180deg);
        }

        .front,
        .back {
          transform: rotateY(-180deg);
        }
      }

      .front {
        border-left: 3px solid powderblue;
      }

      .front,
      .back {
        width: 100%;
        height: 100%;
        background: white;
        position: absolute;
        transform-origin: left;
        transition: transform 0.5s;

        .front-content,
        .back-content {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  button {
    align-self: center;
  }
}
