body {font-family:serif;}
p{text-indent:1.4em;margin-left:0;margin-right:0;text-align:justify;margin-top:0;margin-bottom:0;font-size:109%}
.p0{text-indent:0;margin-left:0;text-align:center}
.p1{text-indent:0;margin-left:0;text-align:center;margin-top:5.8em;margin-bottom:3.3em}
.p2{text-indent:0;margin-left:0;text-align:center;margin-bottom:5em}
.p4{text-indent:1.4em;text-align:center;margin-top:5.8em}
.p5{text-indent:0;margin-left:0;text-align:center;margin-bottom:2.5em}
.p6{text-indent:0;margin-left:0}
h2{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-top:2.9em;margin-bottom:1.1em;font-size:120%;font-weight:normal}
.h21{text-indent:0}
h3{text-indent:1.4em;margin-left:0;margin-right:0;text-align:justify;margin-top:0;margin-bottom:0;font-size:109%;font-weight:normal}
.h31{text-indent:0}
.t2{font-size:3em}
.t3{font-size:1.7em;font-style:italic}
.t4{font-size:.79em}
.t5{font-size:1.2em;font-style:italic}
.t6{font-size:1.5em;font-weight:bold;font-style:italic}
.t7{font-style:italic}
.t8{font-size:.75em;vertical-align:super}
.th31{text-decoration:line-through}